---
import { HomeSiderType, HomeSiderSegmentType } from '@constants/enum';
import { cn } from '@lib/utils';
import { blogLayoutConfig } from '@/config/blogLayoutConfig';
import { getAllTags, getCategoryList, getPostCount, getSortedPosts } from '@lib/content';
import { getAdjacentSeriesPosts, getPostHref, getPostIndexMap, getSeriesPosts } from '@lib/content/posts';
import { routers } from '@constants/router';
import HomeSiderPanel from './HomeSiderPanel';
import type { BlogPost } from '@/types/blog';
import type { MarkdownHeading } from '@/types/markdown';

interface Props {
  type?: HomeSiderType;
  className?: string;
  isDrawer?: boolean;
  post?: BlogPost;
  tocHeadings?: MarkdownHeading[];
}

const { type = HomeSiderType.HOME, className, isDrawer = false, post, tocHeadings } = Astro.props;
const defaultSegmentType = type === HomeSiderType.POST ? HomeSiderSegmentType.DIRECTORY : HomeSiderSegmentType.INFO;

const postCount = await getPostCount();
const { countMap } = await getCategoryList();
const posts = await getSortedPosts();
const tags = getAllTags(posts);
const allTags = Object.entries(tags).map(([tag, count]) => ({ tag, count }));

const homeInfo = {
  avatar: blogLayoutConfig.avatar ?? '/img/avatar.webp',
  name: blogLayoutConfig?.name,
  description: blogLayoutConfig?.description,
  postCount,
  categoryCount: Object.keys(countMap).length,
  tagCount: allTags.length,
  routes: routers,
  currentPath: Astro.url.pathname,
};

const seriesPosts = post && type === HomeSiderType.POST ? await getSeriesPosts(post) : [];
const postIndexMap = post && type === HomeSiderType.POST ? await getPostIndexMap() : null;
const seriesPostItems = seriesPosts.map((seriesPost) => ({
  post: seriesPost,
  href: getPostHref(seriesPost, postIndexMap ?? undefined),
}));

const { prevPost, nextPost } =
  post && type === HomeSiderType.POST ? await getAdjacentSeriesPosts(post) : { prevPost: null, nextPost: null };
const prevPostItem = prevPost ? { post: prevPost, href: getPostHref(prevPost, postIndexMap ?? undefined) } : null;
const nextPostItem = nextPost ? { post: nextPost, href: getPostHref(nextPost, postIndexMap ?? undefined) } : null;
const currentPostSlug = post?.data?.link ?? post?.id;
---

<div
  class={cn(
    'page-home-sider shadow-home-sider sticky top-0 self-start flex min-w-64 max-w-64 flex-col tablet:hidden overflow-auto h-screen items-center px-2',
    className,
  )}
  {...!isDrawer && { 'transition:name': 'page-home-sider' }}
>
  <HomeSiderPanel
    client:load
    type={type}
    defaultSegmentType={defaultSegmentType}
    homeInfo={homeInfo}
    tocHeadings={tocHeadings}
    tocNumbering={post?.data.tocNumbering ?? true}
    seriesPostItems={seriesPostItems}
    currentPostSlug={currentPostSlug}
    prevPostItem={prevPostItem}
    nextPostItem={nextPostItem}
  />
</div>
