---
import ButtonLink from '@components/control/ButtonLink.astro';
import { Routes, routers } from '@constants/router';
import { cn } from '@lib/utils';
import DropdownNav from './DropdownNav';
import ThemeToggle from '@components/theme/ThemeToggle.astro';
import SearchWithDialog from './SearchWithDialog.astro';
---

<div class="tablet:grow-0 flex grow items-center">
  <!-- 导航菜单 -->
  <div class="tablet:hidden flex grow items-center gap-4">
    {
      routers.map((item) => {
        if (item.children?.length) {
          return <DropdownNav client:load item={item} />;
        }
        return (
          <ButtonLink
            url={item.path}
            label={item.name}
            variant="unstyle"
            className={cn(
              'relative text-base tracking-wider after:absolute after:bottom-1 after:left-1/2 after:block after:h-0.5 after:w-0 after:-translate-x-1/2 after:transition-all after:duration-300',
              {
                'hover:after:w-9/12': true,
              },
            )}
          >
            {item.icon && <i class={`mr-1.5 ${item.icon}`} aria-hidden="true" />}
            {item.name}
          </ButtonLink>
        );
      })
    }
  </div>

  <div class="ml-auto flex items-center gap-2">
    <SearchWithDialog />
    <ThemeToggle />
  </div>
</div>
